body{
    background: linear-gradient(to top, #dadbd3 80% ,  #009688 20%);
    height: 100vh;
}

.height{
    height: 90vh;
    background-color: white;
}

.border-sidebar{
    border-right: 2px solid #7a7aef;
}

img{
    max-width: 50px;
    border-radius: 50px;
}

.up-nav{
    background-color: #eaeaea;
    height: 70px;
}

.tools{
    background-color: #eaeaea;
    height: 70px;
}

.notification{
    background-color: #8edafc;
    height: 70px;
}

.bg-img-chat{
    background-image: url(../img/mine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overflow{
    overflow: auto;
}

.search{
    background-color: #fafafa;
    height: 50px;
}

.bg-white{
    background-color: white;
}

.avatar{
    margin: 10px;
}

.fa-solid{
    height: 40px;
    width: 40px;
    font-size: larger;
    margin-top: 1.5rem;
    color: #b1b1b1;
}

.fa-regular{
    height: 40px;
    width: 40px;
    font-size: medium;
    margin-top: 1rem;
    color: #8edafc;
    border-radius: 50%;
    border: solid white;
    margin-left: 1.5rem;
    vertical-align: middle; 
    text-align: center;
    padding-top: 0.5rem;
    background-color: white; 
}

a{
    color: #5d8a9e;
    font-size: smaller;
}

.input-user{
    border-radius: 0%;
    height: 40px;
}

.separator{
    border: 1px solid #fdfdfd;
}

.user-main-chat{
    background-color:  #d5f9ba;
    margin-left: 300px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-guest-chat{
    margin-left: 50px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.active{
    font-size: larger;
    color: green;
}