body{
    background: linear-gradient(to top, #dadbd3 80% ,  #009688 20%);
    height: 100vh;
}

.height{
    height: 90vh;
    background-color: white;
}

.border-sidebar{
    border-right: 2px solid #7a7aef;
}

img{
    max-width: 50px;
    border-radius: 50px;
}

.up-nav{
    background-color: #eaeaea;
    height: 70px;
}

.avatar{
    margin: 10px;
}

.fa-solid{
    height: 40px;
    width: 40px;
    font-size: larger;
    margin-top: 1.5rem;
    color: #b1b1b1;
}