<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="class100">
    <meta name="description" content="a replica oh whatsapp web page">
    <title>Boolzapp</title>
    <!-- Bootstarp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
    <!-- Css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Js -->
    <script defer src="js/script.js"></script>
</head>
<body>
    <main id="root" class="container h-100">
        <!-- container -->
        <div class="row h-100 d-flex justify-content-center align-items-center">
            <!-- sidebar -->
            <section class="col-4 height p-0 border-sidebar d-flex flex-column">
                <!-- navbar sidebar -->
               <div class="up-nav d-flex justify-content-between">
                   <div>
                        <img class="avatar" :src="`img/avatar${user.avatar}.jpg`" alt="avatar user">
                        <strong>{{user.name}}</strong>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-solid-mio fa-circle-notch"></i>
                        <i class="fa-solid fa-solid-mio fa-message"></i>
                        <i class="fa-solid fa-solid-mio fa-ellipsis-vertical"></i>
                    </div>
               </div>
               <!-- notification -->
               <div class="notification d-flex justify-content-between">
                   <div class="d-flex">
                        <i class="fa-regular fa-bell-slash"></i>
                        <ul class="ms-3 mt-2 list-unstyled">
                            <li>Ricevi notifiche di nuovi messaggi</li>
                            <li><a href="#" class="">Attiva notifiche desktop</a></li>
                        </ul>
                    </div>
               </div>
               <!-- search -->
               <div class="search d-flex">
                <div class="input-group px-3 py-1">
                    <span class="input-group-text bg-white" id="basic-addon1"><i class="fa-brands fa-whatsapp"></i></span>
                    <input v-model.trim="filterBy" type="text" class="form-control" placeholder="Cerca o inizia una nuova chat">
                  </div>
               </div>
               <!-- user list -->
               <div class="overflow">
                <ul class="mt-3 list-unstyled flex-grow-1">
                    <li v-for="(contact, i) in userFilter" class="mb-3 ms-3" 
                    :class="{active : currentIndex === i}" @click="setCurrentChat(i)">
                        <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                        <strong class="ms-3">{{contact.name}}</strong>
                    </li>
                </ul>
               </div>
            </section>
            
            <!-- main chat -->
            <section class="col-8 height d-flex flex-column p-0">
                <!-- navbar main -->
                <div class="up-nav d-flex justify-content-between">
                    <div class="d-flex flex-grow-1">
                        <img v-for="(contact , i) in userFilter" class="avatar" v-show="currentIndex === i" :src="`img/avatar${contact.avatar}.jpg`" alt="avatar user">
                        <ul class="ms-3 mt-2 list-unstyled">
                            <li v-for="(contact , i) in userFilter" v-show="currentIndex === i"><strong>{{contact.name}}</strong></li>
                            <li><p >Ultimo accesso alle: {{getLastAccess(currentIndex)}}</span></p></li>
                        </ul>
                    </div>
                    <div class="d-flex">
                        <i class="fa-solid fa-solid-mio fa-magnifying-glass"></i>
                        <i class="fa-solid fa-solid-mio fa-paperclip"></i>
                        <i class="fa-solid fa-solid-mio fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- chat -->
                <div class="bg-img-chat d-flex overflow flex-grow-1">
                    <div class="container d-flex flex-column">
                        <!-- messages -->
                        <div v-for="(message , i) in userFilter[currentIndex]['messages']" :key="message.id" :class="message.status === 'received' ? 'card user-guest-chat' : 'card user-main-chat'">
                            <div class="card-body">
                                <p class="card-text">{{message.message}}</p>
                                <p class="text-end text-small">{{stringToDate(message.date)}}<i class="fa-solid fa-check text-primary ms-2"></i></p>
                                <button type="button" class="btn-close x-close" @click="removeMessage(currentIndex)"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- user tools -->
                <div class="tools d-flex justify-content-between">
                    <div class="ms-4">
                        <i class="fa-solid fa-solid-mio fa-face-smile"></i>
                    </div>
                    <div class="flex-grow-1 mt-3">
                        <input v-model.trim="newMessage" @keyup.enter="addNewMessage(currentIndex)" type="text" class="form-control input-user" placeholder="Scrivi un messaggio">
                    </div>
                    <div class="ms-4">
                        <i class="fa-solid fa-solid-mio fa-microphone"></i>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- script per dayjs -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.20/plugin/customParseFormat.js"></script>
</body>
</html>